@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
*{


font-size: 1rem;
font-family: 'Poppins', sans-serif;
font-weight: 400;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;

}

html{
   margin: 0;
}
body{
  margin: 0;
  padding: 0;
  background-color: #020710;
  scroll-behavior: smooth;
  background-size: contain;
}

.bodyAboutUs{
  background-color: #020710;

  
}

/*--------------Footer------*/

footer{

  
  color: #fff;
  text-align: center;
  width: 100%;
  min-height: 1rem ;
}
.footer-Section-total{
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}



.footer-elements{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1.5rem;
}

.footer-elements p{
  color:#9097aa;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;

}

.fa-solid {
  color:#9097aa;
}
.fa-paper-plane{
  color: white;
}
.footer-desplaz{
  padding-top: 0.5rem;
}

.fa-angles-up{
  transition: 0.5s;
}

.fa-angles-up:hover{
  
  transform: scale(1.1);
  color: white;
}

/*-------------------------*/


.lineaHorz{
  background-color: #081a3c;
  width: 100%;
  height: 1px;
}

.gradiente-texto {
  font-size: 2rem;
  background-image: linear-gradient( 90deg, #E84AD2 0%, #4B9BE0 100% );
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  display: inline-block;
  color: #A38DFD;
  text-transform: uppercase;
}

.gradiente-texto2{
  background-image: linear-gradient( 90deg, #A38DFD 0%, #F2ABF3 100% );
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;

}

.gradiente-texto-about{
  font-size: 1.7rem;
  background-image: linear-gradient( 90deg, #E84AD2 0%, #4B9BE0 100% );
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  display: inline-block;
  color: #A38DFD;
  text-transform: uppercase;
} 


.contenedor-header{
  background-image: url("imagenes/Fondo/gtjnvkg.png");
  background-size: cover;
    /*background-color: #1e2326;*/
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 99;
}




.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  15px 20px;
    height: 60px;

}

.contenedor-header header .logo a{
display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    color:#fff;
    text-decoration: none;
}



.contenedor-header header ul{
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
  
    transition: .5s;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: normal;
    font-weight: 500;

}

.contenedor-header header nav ul li a:hover{
    color:#d09ef8;
}





/*------COntent Header2 ---*/

.contenedor-header2{
  background-image: url("imagenes/Fondo/gtjnvkg.png");
    /*background-color: #1e2326;*/
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    z-index: 99;
}

.contenedor-header2 header{
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:  15px 20px;
  height: 70px;

}

.contenedor-header2 header .logo a{

  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  color:#fff;
  text-decoration: none;
}



.contenedor-header2 header ul{
  display: flex;
  list-style: none;
}

.contenedor-header2 header nav ul li a{
  text-align: none;
  color: #fff;
  margin: 0 15px;
  padding: 3px;
  transition: .5s;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: normal;
  font-weight: 500;

}

.contenedor-header2 header nav ul li a:hover{
  color:#d09ef8;
}

/*-----------------------------------------------------*/



/*----------------Icons link-------------*/
.redes{
  display: flex;
  width: 3rem;
  justify-content: space-between;
  flex-direction: row;
}


.fa-brands{padding-right: 1rem;}
.footerpadingico{padding-right: 0.5rem;}

.fa-facebook{
  transition: 0.5s;
  color: white;
}

.fa-facebook:hover{
  transform: scale(1.1);
  color:#d09ef8;
}

.fa-facebook:active{
  color:#d09ef8;
}

.fa-twitter{
  
  transition: 0.5s;
  color: white;
}

.fa-twitter:hover{
  transform: scale(1.1);
  color:#d09ef8;
}

.fa-twitter:active{
  color:#d09ef8;
}



.fa-telegram{
  
  transition: 0.5s;
  color: white;
}

.fa-telegram:hover{
  transform: scale(1.1);
  color:#d09ef8;
}

.fa-telegram:active{
  color:#d09ef8;
}


.fa-discord{
  
  transition: 0.5s;
  color: white;
}

.fa-discord:hover{
  transform: scale(1.1);
  color:#d09ef8;
}

.fa-discord:active{
  color:#d09ef8;
}



.nav-responsive{
    
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.presentation{
  background-image: url("imagenes/Fondo/gtjnvkg.png");
  background-size: cover;
}

.presentation-internal{
  padding: 90px 0px 90px 0px;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}



.contacto{

   
    padding: 50px 0;

}

.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.contacto h2{
    /*color: #fff;*/
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 20px 0;
}

.contacto .fila{
    display: flex;
}

.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}

.contacto .col input, .contacto .col textarea{
    display:block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #252a2e;
    color: #fff;
    font-size: 18px ;
}

.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.contacto button .overlay{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0%;
    height: 100;
   
    z-index: -1;
    transition: 1s;
}

.contacto button:hover .overlay{
    width: 100%;
}

.contacto .col img{
    width: 100%;
}

.contacto .col .info{
    position: absolute;
    top:40%;
   color: #fff;
    padding: 20px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);

}

.contacto .col .info ul{

    list-style: none;
}

.contacto .col .info ul li{
    margin-bottom: 20px;
}

.contacto .col .info ul li i{
    color: #1e2326;
    display: inline-block;
    margin-right: 20px;
    filter: contrast(0.5);
}

       
.fa-paper-plane{
margin: 5px;
}

.btn-send-mesaje{

transition: 0.5s;
}

.btn-send-mesaje:hover{
  transform: scale(1.05);
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.848);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.879);
}

.btn-send-mesaje:active{
  transform: scale(0.9);
}






/*--------About Us --------*/
.mainAbout{
  padding-top: 9rem;
  background-image: url("imagenes/Fondo/gtjnvkg.png");
  background-size: cover;

  
}

.introduc-aboutUs{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.sectionAbout{
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.sectionAbout2{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.sectionAbout h2{

  font-size: 1.9rem;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 20px 0;
  
}

.abotUsP-1{
  font-family: 'Poppins', sans-serif;
  color: #b8bbbf;
  line-height: 1.8em;
}

.abotUsP{
  font-family: 'Poppins', sans-serif;
  color: #b8bbbf;
}



/*----------------CARD PRI------------------------*/

.title-Index{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 30px;
}
.cardPri {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    /*box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);*/
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    
  }
  
  .contentPri {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 10%;
    color: #A4A9AC;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    z-index: 1;
    align-items: flex-start;
  }
  
  .contentPri .headingPri {
    color:#FFF;
    font-weight: 700;
    margin: 0;
    margin-right: 5px;
    font-size: 3.2rem;
    font-weight: 800;
    line-height: 1.2em;
    letter-spacing: 0px;
  }
  
  .contentPri .paraPri {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8em;
  }
  
  .contentPri .btn {
    font-family: "Space Grotesk", Sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.3px;
    fill: #020710;
    color: #020710;
    background-color: transparent;
    background-image: linear-gradient(90deg, #E84AD2 0%, #4B9BE0 100%);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 4px 20px 0px rgba(148, 226.99999999999997, 255, 0.26);
    padding: 15px 45px 15px 45px;
    transition: 0.5s;
    cursor: pointer;
  }
  
  /* .cardPri::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg, #bc39a9 0%, #3d7eb7d9 100%);
    z-index: 0;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  } */
  
  .cardPri:hover::before {
    height: 100%;
  }
  
  .cardPri:hover {
    box-shadow: none;
  }
  
  .contentPri .btn a{
    text-decoration: none;
    font-weight: 600;
    color: #020710;
  }


  .cardPri .btn:hover {
    color: #fff;
    
  }

  .contentPri .redes{
    position: relative;
    bottom: 1rem;
  }
  
  .contentPri .btn:hover {
    
    transform: scale(1.1);
 
  }
  
  .contentPri .btn:active {
    box-shadow: none;
  }
.contentPri .btn a:active{
  color:#f9fbff;
}


  /*-------------------LOGO INICIO-----------*/

  .buttonLogo,.buttonLogo::after {
    padding: 5px 40px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    position: relative;
    cursor: pointer;
  }
  
  .buttonLogo::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: 'SunSound';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }
  
  .buttonLogo:hover::after {
    animation: glitch_4011 1s;
    text-shadow: 10 10px 10px black;
    animation-timing-function: steps(2, end);
    text-shadow: -3px -3px 0px #1df2f0, 3px 3px 0px #E94BE8;
    background-color: transparent;
    border: 3px solid rgb(0, 255, 213);
  }
  
  .buttonLogo:hover {
    text-shadow: -1px -1px 0px #1df2f0, 1px 1px 0px #E94BE8;
  }
  
  .buttonLogo:hover {
    background-color: transparent;
    border: 1px solid rgb(0, 255, 213);
    box-shadow: 0px 10px 10px -10px rgb(0, 255, 213);
  }

  .contenedor-header header .logo .buttonLogo a:hover{
    color: #fff;
  }
  
  @keyframes glitch_4011 {
    0% {
      clip-path: var(--move1);
      transform: translate(0px,-10px);
    }
  
    10% {
      clip-path: var(--move2);
      transform: translate(-10px,10px);
    }
  
    20% {
      clip-path: var(--move3);
      transform: translate(10px,0px);
    }
  
    30% {
      clip-path: var(--move4);
      transform: translate(-10px,10px);
    }
  
    40% {
      clip-path: var(--move5);
      transform: translate(10px,-10px);
    }
  
    50% {
      clip-path: var(--move6);
      transform: translate(-10px,10px);
    }
  
    60% {
      clip-path: var(--move1);
      transform: translate(10px,-10px);
    }
  
    70% {
      clip-path: var(--move3);
      transform: translate(-10px,10px);
    }
  
    80% {
      clip-path: var(--move2);
      transform: translate(10px,-10px);
    }
  
    90% {
      clip-path: var(--move4);
      transform: translate(-10px,10px);
    }
  
    100% {
      clip-path: var(--move1);
      transform: translate(0);
    }
  }
  
  

  /*----------------Publicaciones pagina inicio -------------*/

  .section-public-box{
    padding-top: 200px;
  }
  

  .box-public{
    display: flex;
  }
.box-public-invert{
  display: flex;
    flex-direction: row-reverse;
}
.text-public-invert{
  padding: 0px 150px 0px 0px;
  width: 50%;
}

  .text-public{
    padding: 0px 0px 0px 150px;
    width: 50%;
  }

  .public-text-p{
    font-family: 'Poppins', sans-serif;
    color: #b8bbbf;
    line-height: 1.8em;
    font-size: 1.12rem;
  }

  .public-img{
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    width: 50%;
  }

  .public-fondo{
    background-image: url("imagenes/elementos/tbsp.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.15;
    width: 50%;
    height: 50%;
    position: absolute;
    z-index: 1;
    /* left: 100px; */
    /* top: 200px;*/
  }

  .imagenPublic{
    object-position: center center;
    border-radius: 40px 40px 40px 40px;
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.03);
    opacity: 1;
    width: 300px;
    position: relative;
    z-index: 2;
  }
  

  /*---------------------------------------------CARD GALERY-----*/

  /* glowing hover card made by: csozi | Website: english.csozi.hu*/


.btnAudio{
  position: relative;
  z-index: 5;
  margin-left: 5px;
  margin-right: 10px;
}
  .btnReproductor{
    
    background-color: #4B9BE0;
    color: white;
    width: 95px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    margin-right: 9px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    z-index: 5;

  }

  .btnReproductor:hover {
    background-color: #45a049;
}


.mainGallery{
    padding-top: 10rem;
    padding-bottom: 10rem;
    background-image: url("imagenes/Fondo/gtjnvkg.png");
}

.sectionGallery{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 7rem;
    margin-left: 5%;
    margin-right: 5%;
}
/* glowing hover card made by: csozi | Website: english.csozi.hu*/

.card {
    cursor: pointer;
    position: relative;
    max-width: 35rem;
    min-width: 33rem;
    display: flex;
    height: 254px;
    background: rgb(255, 0, 179);
    background: linear-gradient(137deg, rgb(255, 0, 179) 0%, rgba(0,212,255,1) 100%);
    transition: 0.3s ease;
    border-radius: 30px;
    filter: drop-shadow(0px 0px 30px rgba(209, 38, 197, 0.5));
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  
  .card::after {
    content: '';
    background-color: #181818;
    position: absolute;
    z-index: 1;
    transition: 0.3s ease;
    height: 98%;
    width: 98%;
    top: 1%;
    left: 1%;
    border-radius: 28px;
  }
  
  .card:hover {
    filter: drop-shadow(0px 0px 30px rgba(209, 38, 197, 1));
  }

  .card img{
    position: relative;
    max-width: 97%;
    height: 98%;
    background: rgb(255, 0, 179);
    z-index: 2;
    background: linear-gradient(137deg, rgb(255, 0, 179) 0%, rgba(0,212,255,1) 100%);
    transition: 0.3s ease;
    border-radius: 100%;
    filter: drop-shadow(0px 0px 30px rgba(209, 38, 197, 0.5));
   
  
    /* z-index: 1; */
    
  }



  /*-------Animation Logo Inicio---------- */


  .img-pri{
    animation: anim-log-imgpri  15s infinite;
  }
  
@keyframes anim-log-imgpri {
  0%, 100% {
    transform: translateY(0);
  }
  


  0% {
      top: -15%;
  }
  
  15% {
      top: -15%;
      transform: translateY(30px);
  }
  
  30% {
      
      top: 45%;

       transform: translateY(-30px);
  }
  
  45% {
     
      
      top: 8%;
      transform: translateY(30px);
      
  }
  
  60% {
      
      top: 45%;
      transform: translateY(-30px);
      
  }
  
  85% {
     
      top: -15%;
   
      transform: translateY(30px);
  }
  
  100% {
      top: -15%;
  }
  
}

#navResponsive {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 1024px ), screen and (max-width:550px){

  .card {
  
    max-width: none;
    min-width: 20rem;
  
    width: 25rem;
    flex-direction: column;
  }
  
    .vinyl-container{
      padding: 5px;
    }
  
    .btnAudio{
      padding: 5px;
    } 
  
  


  /*IMAGENES*/
  .img-pri{
      width: 100%;
  }

  .introduc-aboutUs img{
    width: 100%;
  }

/*NAVBAR*/


.contenedor-header header nav ul li a {
  padding: 0px;
}


nav{
  position: absolute;
  right: 11px;
  top: 29px;
  z-index: 2;
}


#nav ul {
  display: none;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

#nav ul.active {
  display: flex;
    background: #00000054;
    margin: 0;
    padding-top: 27px;
}

#nav li {
  padding: 15px;
  border-bottom: 1px solid #ccc;
}

#navResponsive {
  display: block;
  z-index: 3;
}



/*HOME*/

.contentPri .headingPri{
  font-size: 3rem;
}
  .cardPri{
    width: 100%;
  }
  .text-public{
    width: 100%;
    padding: 0px 50px 0px 50px;
  } 


  .box-public{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
  }

  .text-public-invert{
    width: 100%;
    padding: 0px 50px 0px 50px;
  }

  .box-public-invert{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
  }

  .gradiente-texto-about{
    text-align: center;
  }

  .contacto .contenido-seccion{
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .contacto .fila{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacto .col{
    width: auto;
  }
  .contacto .col .info ul li {
    margin-top: 3rem;
}


/*ABOUT US*/

.introduc-aboutUs {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
}

.sectionAbout2 {
  display: flex;
  padding-left: 5%;
  text-align: center;
  padding-right: 5%;
  margin-top: 5rem;
  margin-bottom: 5rem;
  flex-direction: column;
  align-content: center;
}

}



.vinyl-container {
  z-index: 55;
  position: relative;
  width: 200px;
  height: 200px;
  perspective: 1000px;
}

.vinyl {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;

  transform-style: preserve-3d;
}

.vinyl-label {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
  position: absolute;
  transform: translateZ(1px); /* Evita problemas de renderizado en algunos navegadores */
}






@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
} 

.rotate {
  animation: spin 10s infinite linear;
}

/* Estilo personalizado para todos los reproductores de audio con clase 'audioPlayer' */
.audioPlayer {
  background: none;
  border: none;
  color: #333;
}

/* Estilo para ocultar los controles predeterminados del reproductor de audio */
/* (Añade detalles sobre cómo planeas personalizar u ocultar los controles) */

/* Estilo para los botones personalizados */
.audioPlayer::-webkit-media-controls-play-button,
.audioPlayer::-webkit-media-controls-pause-button,
.audioPlayer::-webkit-media-controls-mute-button {
  color: #ffffff;
}

.audioPlayer::-moz-media-controls-play-button,
.audioPlayer::-moz-media-controls-pause-button,
.audioPlayer::-moz-media-controls-mute-button {
  color: #ffffff;
}

.audioPlayer::-ms-media-controls-play,
.audioPlayer::-ms-media-controls-pause,
.audioPlayer::-ms-media-controls-mute {
  color: #ffffff;
}

/* Estilo para el fondo del reproductor de audio en navegadores WebKit */
.audioPlayer::-webkit-media-controls-panel {
  background: linear-gradient(137deg, rgb(255, 0, 179) 0%, rgba(0, 212, 255, 1) 100%);
}
